* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: san-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(30deg, #ff6b6b, #48dbfb, #5f27cd);
    background-size: 300% 300%;
    animation: move 8s infinite;
}

@keyframes move {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header p {
    font-size: 20px;
    font-weight: 600;
    color: #b207c2;
}

#msg {
    color: #9e0c0c;
}

.header h1 {
    color: rgb(6, 133, 44);
}

.container {
    gap: 30px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.box {
    height: 18vmin;
    width: 18vmin;
    background-color: #f1da9a;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    font-size: 50px;
    font-weight: 600;
    border: none;
    color: black;
}

#reset {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #b1176c;
    font-size: medium;
    color: aliceblue;
    font-family: san-serif;
    font-weight: 400;
    cursor: pointer;
    display: none;
    text-align: center;
}